<!-- Section a propos -->
    <section class="col-12 col-xl-4 col-xxl-3 mb-4">
        <div class="d-flex flex-column gap-4">
            <div class="card text-center">
                <header class="card-body">
                    <img src="{{ asset('images/avatar/avatar.jpg') }}" class="img-fluid rounded-circle mx-auto" width="100" alt="">
                    <h1 class="h5 mt-3 mb-1">Geoffroy COLPART</h1>
                    <p class="mb-0 text-secondary">Développeur WEB</p>
                </header>
                <div class="card-body py-0">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloremque, corrupti, reprehenderit pariatur ea libero?</p>
                </div>
                <footer class="border-top py-3 mt-2">
                    <a class="text-decoration-none" href="#">voir profil</a>
                </footer>
            </div>
        </div>
    </section>
<!-- Section a propos -->